.pokebattle-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: box-shadow 0.2s, transform 0.2s, border 0.2s;
  animation: fadeIn 0.5s cubic-bezier(0.4, 1.56, 0.64, 1) both;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(100px) scale(0.97);}
  to { opacity: 1; transform: translateY(0px) scale(1);}
 }

.battle-selection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

button {
  font-size: 1.25rem;
  background: #22223b;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.9em 2em;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(34, 34, 59, 0.15);
  transition: background 0.15s, transform 0.1s;
  margin-top: 5rem;
  display: flex;
  margin-inline: 5px;
}

button:hover {
  background: #e7c05e;
  color: #22223b;
  transform: translateY(-2px) scale(1.04);
  box-shadow: 0 6px 18px rgba(34, 34, 59, 0.18);
}

body {
  background-color: #242424;
  color: white;
}

.home-container {
  color: white;
}

.vs-label {
  img {
    width: 100%; /* Image will take 100% of its parent's width */
    height: auto; /* Height will adjust proportionally */
    margin-top: -25px;
    margin-bottom: 15px;
  }

  /* Alternatively, set height and let width adjust */
  img {
    height: 65px; /* Image will have a fixed height of 200px */
    width: auto; /* Width will adjust proportionally */
  }
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}