.pokemonCard{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.pokeMainArea{
    display: flex;
    flex-direction: column;
}

.pokeMainArea>*{
    align-self: center;
}

.pokeCardHeader{
    display: flex;
}

.pokeCardHeader>*{
    margin: 5px;
}

.pokeStatsArea{
    width: 200px; 
    position: absolute;
    left: 60%;
    transform: (-50%,0);
}
.statsRow{
    margin: 0px;
}