[rank="0"] {
  color: rgb(12, 205, 44);
  font-weight: bold;
}
/* [rank="1"]{
    color: rgb(228, 205, 0);
} */
/* [rank="2"]{
    color: rgb(20, 134, 201);
}
[rank="3"]{
    color: rgb(238, 255, 0);
}
[rank="4"]{
    color: rgb(255, 115, 0);
} */
[rank="5"] {
  color: rgb(255, 17, 0);
  font-weight: bold;
}

.pokeStatsCard {
  border: 1px, solid, black;
  border-radius: 10px;
  padding: 1em 2em;
  color: black;
  min-width: 230px;
}
.pokeStatsCard:hover {
  transform: translateY(-5px) scale(1.04);
  box-shadow: 0 8px 40px 0 rgba(52, 152, 219, 0.15);
}

.pokeCardHeader {
  font-size: 30px;
}

.vs-lable {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.statsRow {
  display: flex;
  justify-content: center;
}

.WIN {
  background-color: #d4edda;
}
.LOSE {
  background-color: #f8d7da;
}

.pokeCardImage {
  width: 200px;
  height: auto;
  image-rendering: pixelated;
}
