@property --type-base-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #1a2a80;
}

@property --type-accent-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(178, 176, 232);
}

.pokebattle-container {
  background-color: var(--type-base-color);
  color: var(--type-accent-color);
}
