/* @property --type-first-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #0c0c0c;
}

@property --type-second-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #481e14;
}

@property --type-third-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #9b3922;
}

@property --type-fourth-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #f2613f;
} */

/* .pokebattle-container {
  background-color: var(--type-base-color);
  color: var(--type-accent-color);
} */

.header {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
}
